- provide(:title, sanitize("Vos projets numériques innovants"))
- provide(:description, sanitize("Vous avez envie que le territoire change? vous avez des projets numériques? faites nous part de vos idées pour peut-être demain les financer avec LEADER"))
%br
.row
  .col-sm-5.text-center
    =image_tag "page-projet.jpg", class: 'img-responsive', alt: "Groupe de cyclistes faisant halte dans le Perche"
  .col-sm-7
    %h2 J'ai un projet pour le Perche!
    %p Vous avez un projet, des idées et vous souhaitez les réaliser ! Bienvenue sur la plateforme participative et collaborative du Perche ! Partagez-les avec les Percherons pour, suivant vos besoins/ votre situation, recueillir/donner des avis sur l’intérêt des projets, développer le concept, y associer/vous associer aux projets, rechercher des aides/apporter le coup de main nécessaire à leur réalisation...
    %p Donnez-nous part de vos idées, quelqu’en soit le thème, pour que demain, le Pays du Perche, ses partenaires, les collectivités, les associations ou de simples particuliers puissent vous accompagner !

    = link_to 'Je dépose un projet', new_projet_path, class: 'btn btn-primary btn-lg'
%h3 Actuellement #{@projets.size} projets déposés
%p Donnez nous vos idées, votre avis sur les projets déjà déposés.
%p Commentez, aimez, partagez !

.liste-projets
  = render partial: 'projets/projet', collection: @projets
