.container
  %h1.titreactu Actualités
  .actualites
    - @actualites.each do |actu|
      .col-sm-6.actu
        .col-sm-6.case
          = link_to image_tag(actu.image, class: "img-responsive center-block"), actualite_path(actu)

        .col-sm-6.case
          %h3= link_to actu.titre, actualite_path(actu)
          %p
            = actu.contenu.first(50)
          %p.date= actu.created_at.strftime('%d/%m/%y')
