- provide(:title, "Je participe à un sondage")
.row
  .col-sm-5
    = image_tag 'page-projet.jpg', class: 'img-responsive'
  .col-sm-7
    %h1= yield(:title)
    %p Pour aider les entreprises, le développement des services à la personne, la valorisation et la préservation de l’environnement du Perche... je participe à de courts sondages.
    %p Merci de prendre quelques minutes pour vous connecter et répondre aux questions du moment.
.row
  .col-sm-12
    %h2 Les percherons et les usages numériques
    %p Objectifs : Connaître les équipements numériques des percherons, leurs pratiques et leurs attentes en matière d’usages.
    %p Proposé par : Pays du perche d’Eure-et-Loir
    =link_to 'Je participe au sondage', 'sondages/new', class: 'btn btn-primary btn-lg'
.row
  .container
    %h2 Les résultats des derniers sondage
.last-sondages    
  .row
    .col-sm-2
      =image_tag '57.png', class: 'img-responsive'
    .col-sm-6
      %h3 60%
      %p des producteurs souhaitent commercialiser en circuit court collectif
    .col-sm-4
      %p.download
        =link_to 'Télécharger', 'Resultats-enquete-circuits-courts.pdf'
        les résultats de l’enquête sur la commercialisation des produits locaux dans le Perche
  %br
  .row
    .col-sm-2
      =image_tag '80.png', class: 'img-responsive'
    .col-sm-6
      %h3 80% 
      %p des consommateurs apprécient la proximité avec les producteurs
  %br
    .row
      .col-sm-2
        =image_tag '80.png', class: 'img-responsive'
      .col-sm-6
        %h3 52% 
        %p des acheteurs en circuits courts dépensent entre 20 et 50 €/semaine
  %br
    .row
      .col-sm-2
        =image_tag '80.png', class: 'img-responsive'
      .col-sm-6
        %h3 52% 
        %p des consommateurs recherchent des produits labellisés AB



