- provide(:title, "Je participe à un sondage")
.row
  .col-sm-5
    = image_tag 'page-sondage.png', class: 'img-responsive'
  .col-sm-7
    %h1= yield(:title)
    %p Pour aider les entreprises, le développement des services à la personne, la valorisation et la préservation de l’environnement du Perche... je participe à de courts sondages.
    %p Merci de prendre quelques minutes pour vous connecter et répondre aux questions du moment.
%br
.row
  .col-sm-8
    .panel.panel-default
      .panel-heading
        %h4
          %span.label.label-success En cours
          Les Percherons et les usages numériques
      .panel-body
        %p Objectifs : Connaître les équipements numériques des Percherons, leurs pratiques et leurs attentes en matière d’usages.
        %p Proposé par : Pays du Perche d’Eure-et-Loir
        =link_to 'Je participe au sondage', 'sondages/new', class: 'btn btn-primary btn-lg'
  .col-sm-4
    = image_tag 'sondage-percherons-usages-numeriques.jpg', class: 'img-responsive'

.row
  .container
    %h2 Les résultats des derniers sondage
.last-sondages    
  .row
    .col-sm-2
      =image_tag 'arrow-57.png', class: 'img-responsive'
    .col-sm-1
      %h3 60%      
    .col-sm-5
      %p des producteurs souhaitent commercialiser en circuit court collectif
    .col-sm-4
      %p.download
        =link_to 'Télécharger', 'Resultats-enquete-circuits-courts.pdf'
        les résultats de l’enquête sur la commercialisation des produits locaux dans le Perche
  %br
  .row
    .col-sm-2
      =image_tag 'arrow-80.png', class: 'img-responsive'
    .col-sm-1
      %h3 80% 
    .col-sm-5
      %p des consommateurs apprécient la proximité avec les producteurs
    .col-sm-4

  %br
  .row
    .col-sm-2
      =image_tag 'arrow-50.png', class: 'img-responsive'
    .col-sm-1
      %h3 52% 
    .col-sm-5
      %p des acheteurs en circuits courts dépensent entre 20 et 50 €/semaine
    .col-sm-4

  %br
  .row
    .col-sm-2
      =image_tag 'arrow-50.png', class: 'img-responsive'
    .col-sm-1
      %h3 52% 
    .col-sm-5
      %p des consommateurs recherchent des produits labellisés AB
    .col-sm-4

