.row
  = form_for @commentaire, url: yield(:url) do |f|
    .col-xs-12
      = f.text_area :message, placeholder: "Rejoindre la discussion ...", maxlength: 4000
    .col-sm-6.col-sm-offset-6.col-xs-6.col-xs-offset-6
      .envoyer= f.submit "Envoyer", class: 'btn btn-primary'


