- provide(:title, sanitize("Charte d'utilisation"))
- provide(:description, sanitize("Les principales règles qui régissent la modération des échanges sur la plateforme Perche Participatif"))
%h1.text-center= yield(:title)

.contenu-page
  %p
    %em Vous trouverez ci-dessous les principales règles qui régissent la modération des espaces de Perche participatif.
  %p
    La plateforme Perche participatif est un lieu d’échanges ouvert à tous les citoyens Percherons et à tous les acteurs susceptibles de porter et de partager des projets dans le Perche (Particulier, entrepreneur, membre d’une association ou d’une administration notamment territoriale).
  %p
    Les espaces dédiés aux différents projets (projets, sondage, actualités des projets) ont vocation à recueillir les questions, avis, points de vue et commentaires, propositions du public. Toutes les formes d’expression sont rendues publiques et sont prises en compte dans les différents espaces, dans le respect des principes de transparence et d’équivalence qui régissent le débat public.
  %p
    Les participants qui s’expriment en ligne peuvent créer un compte afin de s’exprimer en leur nom propre ou sous un pseudonyme. Pour cela, ils doivent fournir une adresse e-mail valide qui leur est personnelle et leurs coordonnées (ces éléments restent confidentielles et seulement recueillis par le Pays Perche pour des raisons statistiques et en aucun cas à des fins commerciales). Hormis le pseudonyme, ces éléments ne sont pas publiés sur le site, ni communiquée à un tiers leur usage est strictement réservé au Pays Perche. Le Pays Perche s’autorise toutefois à utiliser cette adresse dans les cas où il estime pertinent, par exemple de contacter son propriétaire (accompagnement / suivi du projet).
  %p
    Dans le cas où un participant choisi de s’exprimer en ligne sous un pseudonyme, il doit décliner sa véritable identité dans l’espace « créer un compte ». Le Pays Perche demande aux internautes de choisir des pseudonymes les plus neutres possibles, dans le respect de la sérénité des échanges, ne revendiquant pas une prise de position ou une appartenance à un groupe quelconque. Il se réserve la possibilité de demander une modification au créateur du compte ou de le modifier lui-même.
  %p
    Les espaces dédiés aux échanges publics sont indexés par les moteurs de recherche courants (Google, Yahoo...). Les participants sont donc susceptibles d’apparaître lors d’une recherche de leur nom / pseudonyme.
  %p
    Chaque message fait l’objet d’une modération a priori : un modérateur vérifie qu’il respecte la charte de modération après leur publication sur le site. Le rôle du modérateur est de préserver et garantir la qualité des publications et des discussions. Il veille en particulier à ne pas laisser publics les messages jugés inappropriés ou qui ne respectent pas la législation en vigueur.
  %p
    Cela concerne notamment les commentaires, avis, questions et points de vue :
  %ul
    %li Qui ne sont pas en relation avec les espaces et les thèmes (catégories de projets) de l’application participative (hors-sujet)
    %li Dont l'auteur n’a pas précisé pseudo (public), et des coordonnées valides (confidentielles et seulement à destination du Pays du Perche)
    %li Comportant des attaques, insinuations ou insultes à l'égard d'une organisation ou d'une personne, en particulier si elles sont basées sur des opinions politiques, la race, les croyances, les origines ethniques ou l'orientation sexuelle
    %li Comportant des propos diffamatoires
    %li incluant des propos agressifs, méprisants, obscènes ou à caractère pornographique
    %li Poursuivant des fins commerciales ou publicitaires
    %li Mentionnant des données personnelles (adresses, numéros de téléphone)
    %li Contraires au droit d'auteur, au respect de la vie privée, au droit à l'image
    %li Reproduisant un contenu déjà publié (copier-coller, répétition) ?

  %p
    Le modérateur se réserve également le droit de ne pas laisser publié un message, de ne publier qu’une partie du message en supprimant les passages estimés inappropriés ou encore d’apporter des modifications mineures (notamment des corrections grammaticales et orthographiques) dans la mesure où ces modifications ne changent pas le sens du message.
  %p
    Le Pays du Perche s’engage à répondre aux questions du public dans un délai raisonnable, quand elles portent respectivement sur un projet, sur un sondage ou sur une actualité, ou à relayer les questions sur les organisations concernées. Le Conseil de développement (garant) vérifie que les réponses apportées par le Pays Perche (ou l’organisation concernée) sont cohérentes et suffisamment complètes pour être publiées.
  %p
    L’internaute qui dépose un projet, une question, un avis s’engage à recevoir des notifications par email lorsque qu’un autre internaute commente sa contribution. De même, les participants sont notifiés par email des messages publiés ultérieurement sur le fil de discussion auquel ils ont contribué.
    %br
    %br

.nav-bas
  .back-inscription=link_to "Retour à la page d'inscription", new_contributeur_registration_path, class: 'btn btn-primary btn-lg'
  .back-home=link_to "Retour à la page d'accueil", root_path, class: 'btn btn-default btn-lg'


