.merci
  %h1.rezsondage MERCI DE VOTRE PARTICIPATION
  %p.rezsondage Nous vous tiendrons informé par la suite des résultats de ce sondage.
  .btnaccueil
    =link_to "Retourner à l'accueil", root_path, class: "btn btn-primary btn-lg"