/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
$rouge: #E41518;
$vert-du-perche: #55A603;
$vert-fonce: #255804;
$bleu: #40A8D4;
$ocre: #F29E04;
$orange: #F37405;

$brand-primary: $rouge;

$arrondi: 3px;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "pages";
@import "projets";
@import "contributeurs";

@font-face {
  font-family: 'GravityBold';
  src:url('Gravity-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'GravityBook';
  src:url('Gravity-Book.ttf') format('truetype');
}
@font-face {
  font-family: 'GrooveNext';
  src:url('GrooveNext.ttf') format('truetype');
}

html {
  font-size: 16px;
  body {
    font-family: 'GravityBook', 'Helvetica';
    h1, h2, h3 {
      font-family: 'GravityBold', 'Helvetica';
    }
  }
}

.ligne-rouge {
  height: .5rem;
  background-color: $rouge;
}

.navbar-brand {
  font-family: 'GrooveNext', 'GravityBold', 'Helvetica';
  font-weight: 800;
  font-size: 2rem;
  padding: 0;
  img {
    height: 4rem;
  }
}

.navbar {
  border: none;
  margin-bottom: 0px;
}

.notices {
  @include container-fixed();
}

footer {
  @include make-row(12);
  margin-top: 2rem;
  padding: 2rem;
  color: #FFF;
  background-color:$vert-du-perche;
  border-top: solid .5rem darken($vert-du-perche, 15%);
  h3 {
    font-size: 1.1rem;
  }
  .pays-perche {
    @include make-sm-column(2);
    @include make-sm-column-offset(1);
    img {
      width: 100%;
      max-width: 160px;
      padding-top: 35px;
    }
  }
  address {
    @include make-sm-column(4);
  }
  .newsletter {
    @include make-sm-column(4);
    padding-top: 15px;
    text-align: center;
    input {
      padding: 0.8rem;
      font-size: 0.9rem;
      color: $gray-dark;
      height: 47px;
    }
    .input-lg, .input-group-lg > .form-control, .input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn > .btn{
      height: 47px;

    }
    input[type="email"] {
      background-color: lighten($vert-du-perche,30%);
      border: 0px none;
      border-radius: 6px 0px 0px 6px;

      width: 100%;
    }
    input[type="submit"] {

      background-color: $gray-lighter;
    }
    // hack pour changer la couleur du placeholder dans tous les navigateurs
    input::-webkit-input-placeholder {
      color: grey;
    }
    input:-moz-placeholder {
      /* FF 4-18 */
      color: grey;
    }
    input::-moz-placeholder {
      /* FF 19+ */
      color: grey;
    }
    input:-ms-input-placeholder {
      /* IE 10+ */
      color: grey;
    }
  }
}

