// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.splash-intro {
  img {
    width: 100%;
  }
}

.navigation{
  background-color: $rouge;
  @include make-row(12);
  padding-top: 1rem;
  padding-bottom: 1rem;
  .bouton{
    @include make-sm-column(3);
    color: #FFF;
    a {
      display: block;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      width: 100%;
      margin: 0px;
      text-decoration: none;
      &:hover, &:focus {
        background-color: darken($rouge,15%);
      }
      .icon {
        display: block;
        svg {
          width: 100%;
          height: 5rem;
          fill: #FFF;
        }
      }
      .action {
        height: 2.9em;
        margin-top: 1.5rem;
        text-align: center;
        font-size: 1.5rem;
        display: block;
        color: #FFF;
      }
    }
  }
  .nouveau-projet {
    a {
      background-color: $bleu;
    }
  }
  .sondage {
    a {
      background-color: $ocre;
    }
  }
  .actualites {
    a {
      background-color: $orange;
    }
  }
  .howto {
    a {
      background-color: $vert;
    }
  }
}

.derniers-projets {
  //!\\ CONTAINER
  @extend .container;
}
.contenu-page {
  @include make-sm-column(8);
  @include make-sm-column-offset(2);
  @extend .well;
}

.nav-bas {
  @include make-sm-column(8);
  @include make-sm-column-offset(2);
  .back-inscription {
    @extend .pull-left;
  }
  .back-home {
    @extend .pull-right;
  }
}

// PAGE ANIMATION
.anim-projets, .anim-commentaires, .anim-actus {
  @extend .table-responsive;
  table {
    @extend .table;
    @extend .table-hover;
  }
}

