$rouge: #F20603;
$vert: #55A603;
$vert-fonce: #255804;
$bleu: #40A8D4;
$ocre: #F29E04;
$orange: #F37405;
$gris-svg: #4E4E50;
$facebook: #405E9B;
$twitter: #5EA9DD;

$brand-primary: $rouge;

$grid-float-breakpoint: 992px;
