<p>Bonjour <%= @email %>!</p>

<p>Bienvenue sur la plateforme Perche Participatif</p>
<p>Il vous faut encore confirmer votre email simplement en cliquant sur le lien qui suit:</p>

<p><%= link_to 'Confirmer mon compte', confirmation_url(@resource, confirmation_token: @token) %></p>
