<p>Bonjour <%= @resource.email %>!</p>

<p>Quelqu'un a demandé un lien pour changer votre mot de passe sur la plateforme <strong>Perche Participatif</strong>. Vous pouvez le faire avec le lien ci-dessous.</p>

<p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n'avez pas demandé un changement de mot de passe, merci d'ignorer cet email.</p>


